<form method="post" action="{{ url_for('operation_result') }}" id="postage_form">

    <label for="Length">Length:</label>
    <input type="text" name="Length" id="Length">
    <br/>

    <label for="Width">Width:</label>
    <input type="text" name="Width" id="Width">
    <br/>

    <label for="Weight">Weight:</label>
    <input type="text" name="Weight" id="Weight">
    <br/>

    <label for="LinearUnit">Linear Unit:</label>
    <select id="LinearUnit" name="LinearUnit">
        <option value="mm">mm</option>
        <option value="inches">inches</option>
    </select>
    <br/>

    <label for="WeightUnit">Weight Unit:</label>
    <select id="WeightUnit" name="WeightUnit">
        <option value="grams">grams</option>
        <option value="ounces">ounces</option>
    </select>

    </br>

    <label for="WidthUnit">Width Unit:</label>
    <select id="WidthUnit" name="WidthUnit">
        <option value="mm">mm</option>
        <option value="inches">inches</option>
    </select>

    <br/>
    <input type="submit" value="Submit"/>
    
</form>
</br>

<p>
    Length is {{calLength}}, Weight is {{calWeight}}, Width is {{calWidth}} (Final result units are in grams and mm). 
</br>
    Standard enveloppe?: {{isStandard}}
</p>




