<form method="post" action="{{ url_for('operation_result') }}" id="postage_form">
    <label for="Length">Length:</label>label>
    <input type="text" name="Length" id="Length">
    <br/>
    <label for="Width">Width:</label>label>
    <input type="text" name="Width" id="Width">
    <br/>
    <label for="Weight">Weight:</label>label>
    <input type="text" name="Weight" id="Weight">
    <br/>
    <label for="LinearUnit">Linear Unit:</label>label>
    <select id="LinearUnit" name="LinearUnit">
        <option value="mm">mm</option>
        <option value="inches">inches</option>
    </select>
    <br/>
    <label for="WeightUnit">Weight Unit:</label>label>
    <select id="WeightUnit" name="WeightUnit">
        <option value="grams">grams</option>
        <option value="ouces">ounces</option>
    </select>
    <br/>
    <input type="submit" value="Submit"/>
</form>>



